/*
        RocketLeague CSS 0.3.0
        Original /r/naut by /u/Cryptonaut
        Forked by /u/turikk

        Naut:
        Assisted by /u/RenegadeAI & /u/LackingAGoodName
        Last modified: 16 November 2016
        Details: This is a custom template made by /u/Cryptonaut
        Find out more on /r/Naut

        -------------------------------------------------------------------------- */

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background: #000F1F;
    min-width: 920px;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1080px;
    background-image: linear-gradient(to left, rgba(0, 15, 31, 1), rgba(0, 15, 31, 0)),
    url(%%bg%%);
    background-position: right 0, 0 0;
    background-repeat: no-repeat;
    z-index: -1;

    /* If image is larger than 1920, adjust number appropriately */
    background-size: 300px 100%, 1920px;
    width: 1920px;
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    bottom: 0;
    background: linear-gradient(to left, rgba(0, 15, 31, 0.5) 348px, rgba(0, 15, 31, 0));
    width: 800px;
    z-index: -1;
}

/* General Styles - Links / Buttons / Inputs */
a {
    color: #24a0ed;
    transition: color 0.15s ease;
}

::-moz-selection {
    background: #0079d3;
    text-shadow: none;
    color: #000;
}

::selection {
    background: #0079d3;
    text-shadow: none;
    color: #000;
}

:focus {
    outline: none !important;
}

body .content .text, body .content textarea, body .content input[type=text], body .content input[type=password],
.side .spacer input, body .content input[type=url] {
    background: #333;
    border: 1px solid rgba(255, 255, 255, .1);
    color: #AAA;
    box-shadow: none;
    transition: border-color 0.15s ease, color 0.15s ease;
    padding: 6px 12px;
}

body .content .text:hover, body .content textarea:hover, body .content input[type=text]:hover, body .content input[type=password]:hover,
.side .spacer input:hover, body .content input[type=url]:hover {
    border-color: #738491;
}

body .content .text:focus, body .content textarea:focus, body .content input[type=text]:focus, body .content input[type=password]:focus,
.side .spacer input:active, body .content input[type=url]:focus {
    border-color: #24a0ed;
    color: #DDD;
}

body .btn, body button, .c-btn-primary, .wiki-page .wiki-page-content .wiki_button {
    margin: 4px 16px 4px 0px;
    padding: 0 16px;
    background: #0079d3;
    border: none;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    font-family: Lato, arial, sans-serif;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0px 4px 0 rgba(0, 0, 0, .12);
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
}

.btn:hover, button:hover, .c-btn-primary:hover, .wiki-page .wiki-page-content .wiki_button {
    color: #fff;
    background: #158be2;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.btn:active, button:active, .c-btn-primary:active, .wiki-page .wiki-page-content .wiki_button {
    color: #fff;
    background: #0066b2;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0px 4px 0 rgba(0, 0, 0, .12);
}

.c-btn-primary:active {
    margin-top: 4px
}

/* Header */
#header {
    margin: 0px;
    height: 196px;
    border: none;
    background: transparent;
    z-index: 1;
}

/* Subreddits Bar */
#sr-header-area {
    background: rgba(0, 0, 0, 0.08);
    border: none;
    transition: all 0.15s ease;
    height: 24px;
    line-height: 23px;
}

#sr-header-area .width-clip {
    right: 300px;
}

body:not(.loggedin) #sr-header-area .width-clip {
    right: 340px;
}

#sr-header-area .sr-list {
    margin-right: 48px;
}

#sr-header-area .sr-bar a, #sr-more-link, #sr-header-area .separator, #sr-header-area .dropdown.srdrop .selected {
    background: none;
    color: rgba(255, 255, 255, 0.4);
    transition: all 0.15s ease;
}

#sr-header-area:hover .sr-bar a,
#sr-header-area:hover #sr-more-link,
#sr-header-area:hover .seperator,
#sr-header-area:hover .dropdown.srdrop .selected {
    color: rgba(255, 255, 255, 0.8);
}

#sr-header-area .sr-bar a:hover, #sr-more-link:hover, #sr-header-area .dropdown.srdrop .selected:hover {
    background: none;
    border: none;
    transition: all 0.15s ease;
}

a.random.choice {
    padding-top: 2px;
    position: relative;
    display: inline-block;
    margin-top: -2px;
}

.sr-bar .separator {
    color: transparent !important;
}

#sr-header-area .dropdown.srdrop .selected {
    margin: 0px 12px 0px 8px;
    padding: 0px;
    background-image: none;
}

#sr-header-area .dropdown.srdrop .selected:hover {
    text-decoration: underline;
}

#sr-header-area .dropdown.srdrop .selected:after {
    display: inline-block;
    content: "▼";
    margin-left: 4px;
    font-size: 10px;
}

#sr-header-area .dropdown.srdrop .selected:hover:after {
    text-decoration: none
}

/* My Subreddits Dropdown */
#sr-header-area .drop-choices.srdrop {
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .24);
    opacity: 0;
    top: 14px !important;
    transition: all .2s cubic-bezier(.4, 0, .2, 1);
    visibility: hidden;
    border: none;
}

#sr-header-area .drop-choices.srdrop.inuse {
    opacity: 1;
    top: 23px !important;
    visibility: visible;
}

#sr-header-area .drop-choices.srdrop.inuse a:first-child {
    border-radius: 2px 2px 0 0;
}

#sr-header-area .drop-choices a.choice {
    border: 0;
    color: #777;
    padding: 3px 12px;
    transition: none;
}

#sr-header-area .drop-choices a.choice:hover {
    background: #EEE;
    color: #222;
}

/* User Bar */
#header-bottom-right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    max-width: 300px;
    height: 24px;
    background: none;
    font-size: 11px;
    padding: 5px 8px 4px 2px;

}

body:not(.loggedin) #header-bottom-right {
    max-width: 340px;
}

#header-bottom-right a {
    color: rgba(255, 255, 255, 0.7);
}

#header-bottom-right a:hover {
    text-decoration: underline;
}

.beta-hint a {
    margin-left: -16px;
    width: 16px;
    height: 16px;
    background: url(%%spritesheet%%) -48px -32px no-repeat;
}

.user a {
    max-width: 120px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.user .userkarma {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.4);
    border: none;
    font-size: 9px;
    transition: all 0.15s ease;
}

.separator, .user {
    color: rgba(255, 255, 255, 0.4);
}

#mail, #modmail {
    width: 16px;
    height: 14px;
    background-image: url(%%spritesheet%%) !important;
    background-repeat: no-repeat !important;
    background-color: transparent;
    transition: all 0.25s ease;
}

#mail {
    top: -2px;
    overflow: visible;
}

#mail.nohavemail {
    background-position: -0px -0px;
}

#mail.havemail {
    background-position: -0px -32px;
    opacity: 1;
}

.message-count {
    background: #f50;
    position: relative;
    top: -1px;
    color: #fff !important;
}

#mail.havemail:before {
    position: fixed;
    padding: 16px 24px;
    bottom: 24px;
    z-index: 100;
    background: #EA4848 url(%%spritesheet%%) 269px -120px no-repeat;
    border-radius: 2px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.24);
    color: #fff;
    width: 300px;
    height: 48px;
    left: 32px;
    content: "You have new messages!";
    text-indent: 0px;
    font: 14px arial, sans-serif;
    line-height: 1;
    -webkit-transform: translateY(112px);
    transform: translateY(112px);
    transition: background 0.25s ease, box-shadow 0.25s ease;
}

#mail.havemail:hover:before {
    background-color: #ec5b5b;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.48);
}

#mail.havemail:active:before {
    background-color: #c73d3d;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.76);
}

#modmail {
    top: -3px;
}

#modmail.nohavemail {
    background-position: -16px -0px;
}

#modmail.havemail {
    background-position: -16px -32px;
    opacity: 1;
}

/* preferences & logout icons */
#header-bottom-right a.pref-lang, .loggedin .logout a {
    background-position: -32px -0px;
    background-image: url(%%spritesheet%%);
    width: 16px;
    height: 14px;
    display: inline-block;
    text-indent: -9999px;
    margin: 0px;
    position: relative;
    top: -1px;
    transition: all 0.25s ease;
}

.loggedin .logout a {
    background-position: -48px -0px;
}

/* Header Start */

/* Snoo */
#header-img.default-header, #header-img {
    z-index: 99;
    width: 0px;
    padding-left: 42px;
    height: 42px;
    background: url(%%spritesheet%%) -80px -0;
    margin: 0 8px 0 0;
    vertical-align: top;
    font-size: 0px;
}

#header-img.default-header:hover, #header-img:hover {
    background-position: -122px 0px;
}

/* Reddit Name */
#header .pagename {
    font-size: 0;
}

#header .pagename a {
    font-size: 0;
    display: inline-block;
    width: 264px;
    height: 96px;
    position: absolute;
    margin-top: -54px;
    background: url(%%pagename%%);
}

/* Tabmenu (hot/new/top) */
/* Tabmenu (hot/new/top) */
#header-bottom-left {
    position: absolute;
    top: 100px;
    left: 16px;
    right: 384px;
    white-space: nowrap;
}

#header .tabmenu {
    margin: 12px 0 0 0;
    display: block;
    height: 42px;
    line-height: 42px;
    border: none;
}

#header .tabmenu ul li {
}

#header .tabmenu li a {
    margin: 0px 0px;
    margin-right: 7px;
    padding: 0px 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
    color: #FFF;
    display: inline-block;
    line-height: 28px;
    background-image: linear-gradient(#376ea5, #193750, #193750);
    box-shadow: 0 0 1px #376ea5;
    text-shadow: 0px 0px 1px rgba(255, 255, 255, .5), 0px 1px 0px #000;
    border-radius: 5px;
}

#header .tabmenu li a:hover {
    color: #fff;
}

#header .tabmenu li.selected a,
#header .tabmenu li:hover a {
    box-shadow: 0px 0px 5px #4da6ff, 0px 0px 7px #4da6ff, 0px 0px 10px #4da6ff, inset 0 0 1px #4da6ff;
    color: #376ea5;
    background: #FFF;
    text-shadow: 0 0 1px;
}

/* .listing-page .tabmenu li > a[href$="/controversial/"], .wiki-page .tabmenu li > a[href$="/controversial/"],
.listing-page .tabmenu li > a[href$="/ads/"], .wiki-page .tabmenu li > a[href$="/ads/"]
{display:none!important;} */

/* Body Content - Frontpage */
body[class] > .content, body.listing-page[class] > .content {
    margin: 16px 352px 64px 16px;
    padding: 0px;
}

.link {
    margin: 0px;
    padding: 16px;
    position: relative;
}

/* Objects on the link from left to right */
body > .content .link .rank, .rank-spacer {
    display: none;
}

/* Voting Arrows */
.link .midcol {
    width: 32px !important;
    margin: 0 16px 0 0;
    overflow: visible;
    height: 56px;

}

.link .score {
    line-height: 16px;
    font-size: 12px;
    text-align: center;
    margin: 1px -100% 1px -100%;
}

.link .score.likes {
    color: #ff6422;
}

.link .score.dislikes {
    color: #5c5bd7;
}

.arrow {
    margin: 0px;
    background-image: url(%%spritesheet%%) !important;
    width: 33px;
    border-radius: 2px;
    transition: background-color 0.25s ease;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

/* Upvotes */
.arrow.up {
    height: 20px;
    background-position: -0px -80px;
    transition: background-color 0.25s ease;
}

.arrow.upmod {
    height: 20px;
    background-position: -32px -80px;
    position: relative;
}

.arrow.upmod:focus:after {
    position: absolute;
    left: 2px;
    bottom: -3px;
    width: 28px;
    height: 28px;
    opacity: 1;
    z-index: 100;
    content: " ";
    background: #ff5500;
    border-radius: 28px;
    animation: upvote 0.35s ease-out forwards;
    -webkit-animation: upvote 0.35s ease-out forwards;
}

/* downvotes */
.arrow.down {
    height: 20px;
    background-position: -64px -80px;
    transition: background-color 0.25s ease;
}

.arrow.downmod {
    height: 20px;
    background-position: -0px -100px;
}

/* Hover Message on Downvote */
/*                             .arrow.down:after {
                                display: block;
                                visibility: hidden;
                                position: absolute;
                                z-index: 1000;
                                margin: -6px 0 0 32px;
                                padding: 12px;
                                background: rgba(79, 77, 192, 0.0);
                                border-radius: 2px;
                                color: rgba(255, 255, 255, 0);
                                content: "For content that does not contribute to any discussion.";
                                text-align: center;
                                letter-spacing: 1px;
                                font-weight: normal;
                                font-size: 13px;
                                transition: all 0.25s ease;
                                pointer-events: none;
                            } */

/*                                 .arrow.down:hover:after {
                                    visibility: visible;
                                    background: rgba(79, 77, 192, 0.9);
                                    color: #FFF;
                                    margin-left: 48px;
                                } */

/* Vote Radius */

/* Thumbnails */
.thumbnail {
    width: 80px;
    height: 56px;
    margin: 0 16px 0 0;
}

.thumbnail img {
    min-height: 56px;
    min-width: 80px;
    max-width: none;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.thumbnail.default, .thumbnail.self, .thumbnail.nsfw, .thumbnail.image, .thumbnail[data-href-url*="reddit.com"] {
    width: 56px;
    height: 56px;
    margin: 0 28px 0 12px;
    border-radius: 28px;
}

.thumbnail.default {
    background: #d2dbe0 url(%%spritesheet%%) -152px -48px;
}

.thumbnail.self {
    background: #d2dbe0 url(%%spritesheet%%) -96px -48px;
}

.thumbnail.image {
    background: #d2dbe0 url(%%spritesheet%%) -208px -48px;
}

.thumbnail.nsfw {
    background: #e85881 url(%%spritesheet%%) -96px -104px;
}

.thumbnail[data-href-url*="reddit.com"] {
    background: #24a0ed url(%%spritesheet%%) -152px -104px;
}

.thumbnail[data-href-url*="reddit.com"] img {
    display: none;
}

.stickied .thumbnail {
    background-color: #2db747;
}

/* Inner Post Area */
.link .entry {
    padding: 0;
    margin: 0;
    max-width: 960px;
}

/* Submission Title */
.link .title {
    margin: 0px;
    font: 13.5pt Arial, sans-serif;
    transition: all 0.15s ease;
    overflow: visible;
}

body .content .sitetable .link .title a:hover {
    color: #24a0ed;
}

/*Unvisited*/
.thing .title.loggedin.click, .thing .title.click, .thing .title.loggedin, .thing .title {
    color: #24a0ed;
}

/*Visited  */
.content .thing .title:visited, .content .thing.visited .title {
    color: #738491;
}

/*Clicking */
.thing .title.loggedin.click:visited, .thing .title.click:visited {
    color: #24a0ed;
}

/* Domain */
.link .domain {
    visibility: hidden;
}

.link .domain a {
    visibility: visible;
    position: relative;
    top: -1px;
    color: #98abba;
    transition: all 0.15s ease;
}

.link .domain a:hover {
    color: #24a0ed;
    text-decoration: none;
}

.approval-checkmark {
    cursor: default;
    margin-left: 4px;
}

/* Expando Button */
.expando-button, .expando-button.image, .expando-button.video-muted {
    position: relative;
    top: -1px;
    margin: 2px 6px 2px 0px !important;
    width: 16px !important;
    height: 16px !important;
    border-radius: 2px;
    background-color: transparent;
    background-image: url(%%spritesheet%%) !important;
    border: 1px solid #e9e9e9;
    cursor: pointer;
}

.expando-button:hover {
    background-color: #0079d3;
    border-color: #0079d3;
}

.expando-button.selftext.collapsed {
    background-position: 0 -48px !important;
}

.expando-button.selftext.collapsed:hover {
    background-position: -16px -48px !important;
}

.expando-button.selftext.expanded {
    background-position: -32px -48px !important;
}

.expando-button.selftext.expanded:hover {
    background-position: -48px -48px !important;
}

.expando-button.video.collapsed {
    background-position: -64px -48px !important;
}

.expando-button.video.collapsed:hover {
    background-position: -80px -48px !important;
}

.expando-button.video.expanded {
    background-position: -32px -48px !important;
}

.expando-button.video.expanded:hover {
    background-position: -48px -48px !important;
}

.expando-button.image.collapsedExpando {
    background-position: -32px -64px !important;
}

.expando-button.image.collapsedExpando:hover {
    background-position: -48px -64px !important;
}

.expando-button.image.expanded {
    background-position: -32px -48px !important;
}

.expando-button.image.expanded:hover {
    background-position: -48px -48px !important;
}

.expando-button.image.gallery.collapsedExpando {
    background-position: 0 -64px !important;
}

.expando-button.image.gallery.collapsedExpando:hover {
    background-position: -16px -64px !important;
}

.expando-button.image.gallery.expanded {
    background-position: -32px -48px !important;
}

.expando-button.image.gallery.expanded:hover {
    background-position: -48px -48px !important;
}

.expando-button.video-muted.collapsed {
    background-position: -64px -64px !important;
}

.expando-button.video-muted.collapsed:hover {
    background-position: -80px -64px !important;
}

.expando-button.video-muted.expanded {
    background-position: -32px -48px !important;
}

.expando-button.video-muted.expanded:hover {
    background-position: -48px -48px !important;
}

/* Expando Text */
.link .usertext .md {
    margin-top: 12px;
    margin-bottom: -12px;
    padding-top: 12px;
    padding-left: 0;
    background-color: transparent;
    border: 0px solid;
    border-top: 1px solid #edf1f3;
    border-radius: 0px;
    color: #CCC;
}

/* Submitted X ago by.. */
.entry .tagline {
    margin-top: 3px;
    color: #98abba;
    font: 12px arial, sans-serif;
}

.link .entry .tagline a {
    color: #292f34;
}

.link .entry .tagline:first-letter {
    text-transform: capitalize;
}

.link .entry .tagline time {
    cursor: help;
}

.link .entry .tagline a:hover {
    color: #24a0ed;
    text-decoration: none;
}

.link .entry .tagline a.author {
    margin-right: inherit;
}

.tagline .userattrs {
    font-size: 0;
}

.tagline .userattrs > * {
    cursor: help;
    display: inline-block;
    color: #fff !important;
    line-height: 13px;
    padding: 0 3px;
    border-radius: 2px;
    font-size: 10px;
    font-weight: 700;
    margin-left: 4px;
}

.tagline .userattrs > *:hover {
    text-decoration: none
}

.tagline .userattrs .moderator {
    background: #27b062;
}

.tagline .userattrs .admin {
    background: #F44336;
}

.tagline .userattrs .submitter {
    background: #24a0ed;
}

.tagline .userattrs .friend {
    background: #ff4500;
}

.RESUserTagImage::after {
    display: none
}

.RESUserTagImage {
    vertical-align: top;
    height: 10px;
    width: 16px;
    background-image: url(%%spritesheet%%);
    background-position: -32px -101px;
    opacity: 0.25;
    margin-left: 2px;
    transition: opacity 0.15s ease;
    margin-top: 2px;
}

.RESUserTagImage:hover {
    opacity: 1;
}

/* Comment / Share / Report */
.link .flat-list {
    padding: 0;
    margin-top: 3px;
}

.entry .buttons li {
    line-height: normal;
}

.entry .buttons li a {
    padding: 0 1px;
    color: #98abba;
    font-weight: normal;
    font: 13px Arial, sans-serif;
    transition: all 0.15s ease;
}

.link .entry .buttons li a:hover {
    color: #24a0ed;
    text-decoration: none;
}

.entry .buttons li.nsfw-stamp {
    padding: 0;
    border-radius: 0;
    border: none !important;
}

.nsfw-stamp {
    padding: 0;
    border-radius: 0px;
    border: 0px;
}

.nsfw-stamp acronym {
    position: relative;
    top: -1px;
    padding: 2px 3px;
    background: #ea4876;
    border-radius: 0px;
    color: #fff;
    cursor: help;
}

.link .entry .buttons li a.comments {
    color: #24a0ed;
    font-weight: bold !important;
    transition: all 0.25s ease-in-out !important;
}

.link .entry li .comments:hover {
    text-decoration: none;
}

.post-sharing .c-close {
    padding: 15px;
}

.post-sharing, .subreddit-report-form {
    border: none;
    margin: 15px 5px 5px 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.gold-payment .close-button {
    box-shadow: none;
    margin: 11px -9px 6px 8px;
}

/* Save Category popup */

/* Reporting Comment */
.action-form {
    position: fixed;
    top: 35%;
    left: 40%;
    margin: 0;
    padding: 24px;
    background: #333;
    z-index: 100;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 2px;
}

.action-form .reason-prompt {
    font-size: 16px;
    color: #4D5763;
    padding-bottom: 8px;
    display: block;
}

.action-form .reason-prompt:first-letter {
    text-transform: capitalize;
}

.action-form .reason-prompt li {
    padding: 4px 4px 4px 0px;
    display: block;
}

.action-form li label {
    padding: 4px 4px 4px 0px;
    cursor: pointer;
    display: block;
    color: #4D5763;
    text-transform: capitalize;
}

.action-form li label:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.action-form input[name="other_reason"] {
    padding: 8px;
}

/*  .link .entry li .comments:hover .newComments {color: #fff !important;} */

/* Flair */
.link .entry .buttons li a.flairselectbtn {
    color: #24a0ed;
}

/* RES L+C */
.link .entry .buttons li .redditSingleClick {
    padding: 0 1px;
    color: #98abba;
    font: normal 13px Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    transition: all 0.15s ease;
}

/* Linkflairs */
.linkflairlabel {
    padding: 1px 6px 1px 6px;
    height: 18px;
    border-radius: 1px;
    border: 0px solid;
    color: #fff;
    font: normal normal bold 13px Arial, sans-serif;
    cursor: default;
    vertical-align: middle;
    position: relative;
    top: -2px;
    background: #738491;
}

.linkflair-mod .linkflairlabel {
    background: #27b062;
    color: #fff;
}

.linkflair-mod .thumbnail.default, .linkflair-mod .thumbnail.self {
    background: #27b062 url(%%spritesheet%%) -208px -104px;
}

/* Reported & Spam/Remove/Approves */
body .content .thing.spam {
    background-color: #FFE9E6;
}

.entry .buttons li.reported-stamp {
    background-color: transparent;
    border: none !important;
    text-transform: uppercase;
    color: #F44336;
}

a.pretty-button[class] {
    background-image: none;
    border: none;
    color: #fff;
    line-height: 16px;
    transition: background-color 0.25s ease;
    border-radius: 0;
    text-transform: uppercase;
}

a.pretty-button.negative {
    background: #fb797e;
}

a.pretty-button.negative:hover {
    background: #EF5350;
}

a.pretty-button.negative.pressed {
    background: #B71C1C;
}

a.pretty-button.neutral {
    background: #BDBDBD;
    color: #212121
}

a.pretty-button.neutral:hover {
    background: #E0E0E0;
}

a.pretty-button.neutral.pressed {
    background: #9E9E9E
}

a.pretty-button.positive {
    background: #4CAF50;
}

a.pretty-button.positive:hover {
    background: #43A047;
}

a.pretty-button.positive.pressed {
    background: #1B5E20;
}

a.pretty-button.positive.pressed, a.pretty-button.neutral.pressed, a.pretty-button.negative.pressed {
    background-image: none;
}

.big-mod-buttons {
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
    vertical-align: top;
    margin-top: -1px;
}

.big-mod-buttons a {
    margin: 0;
}

.buttons > .pretty-button {
    border-radius: 3px;
}

ul.report-reasons {
    border-radius: 2px;
    background: #FAFAFA;
    border: none;
    padding: 8px;
    font-size: 12px;
    margin-top: 4px;
}

b {
    padding-left: 5px;
}

/* Last Clicked */
.link.last-clicked {
    background: rgba(0, 0, 0, 0.04);
    border: none;
}

/* Sticky Post */
.thing.stickied {

}

.thing.link.stickied a.title, .thing.link.stickied li a, .thing.link.stickied .entry li .comments {
    color: #27b062 !important;
}

.thing.link.stickied .expando-button:hover {
    background-color: #27b062 !important;
    border-color: #27b062 !important;
}

.tagline .stickied-tagline {
    color: #b3b3b3;
    cursor: help;
}

/* Sticky Comment */
.stickied.comment > .entry a, .stickied.comment .tagline .stickied-tagline {
    color: #27b062
}

/* Ad */
.content .spacer {
    margin: 0;
}

.link.promotedlink.promoted {
    background-color: #EFF7FF;
    padding: 16px 0;
}

.link.promotedlink.promoted .thumbnail {
    height: auto;
}

.link.promotedlink.promoted .thumbnail img {
    max-height: none;
    max-width: none;
    min-width: 0px;
    min-height: 0px;
    transform: none;
}

.organic-listing {
    background: transparent !important;
    padding: 0;
    position: relative;
    margin-bottom: 0px;
    border: none;
}

.organic-listing.new-ad-style {
    border: none;
}

.organic-listing .link, .organic-listing .link.compressed, .organic-listing .link.promotedlink {
    padding: 16px;
    background: transparent;
}

.organic-listing .help {
    margin-bottom: 20px;
    margin-right: 16px;
    color: #98abba;
}

.organic-listing .sponsored-tagline {
    margin-bottom: 20px;
    margin-right: 16px;
    color: #98abba;
}

/* Compressed post */
.link.compressed {
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0
}

.link.compressed .score {
    margin: 0 3px 0 0
}

.link.compressed .entry {
    padding: 9px 32px 9px 0px;
}

.link.compressed .title {
    margin: 0
}

body > .content .link.compressed .midcol {
    height: auto;
    margin: 8px 4px 0px 0px;
}

/* Flair Selector */
.flairselector {
    position: fixed;
    top: 20% !important;
    left: 50% !important;
    margin-left: -125px;
    padding: 16px !important;
    width: 250px !important;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.12);
}

.flairselector.drop-choices.active {
    border: none;
}

.flairselector h2 {
    margin-bottom: 4px;
    background: none;
    color: #24a0ed;
    text-align: left;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 18px;
}

.flairoptionpane {
    max-height: 250px;
    text-align: left;
}

.flairselector .flairoptionpane ul li {
    padding: 0px !important;
}

.flairoptionpane ul li .linkflair {
    text-align: left;
    padding: 0px;
}

.flairoptionpane ul li .linkflair:hover, .flairselector li:hover {
    background-color: #F5F8F9;
    border: 0px solid;
}

.flairoptionpane ul li .linkflair span.linkflairlabel {
    margin: 8px 0px;
    line-height: 1.35;
    margin-right: 6px;
}

.flairoptionpane ul li .linkflair a.title {
    font-size: 18px !important;
    opacity: 100 !important;
    color: #24a0ed !important;
}

.flairselector form {
    padding-top: 12px;
    border-top: 1px solid #F7F7F7;
}

.flairselector form .flairselection {
    text-align: left;
}

.flairselector form .flairselection:before {
    display: block;
    content: "Selected Flair:";
    color: #738491;
}

.flairselector form .flairselection .linkflair a.title {
    font-size: 18px !important;
    opacity: 100 !important;
    color: #24a0ed !important;
    cursor: default;
}

.flairselector form .flairselection .flairremove {
    padding: 4px 0px;
    margin-bottom: 8px;
    visibility: hidden;
    display: block !important;
}

.flairselector form .flairselection .flairremove a {
    visibility: visible;
    opacity: 100 !important;
    color: #24a0ed !important;
    margin-left: -4px;
    text-transform: capitalize;
}

.flairselector form .flairselection .flairremove a:first-letter {
    text-transform: capitalize;
}

.flairselector form .flairselection .flairremove a:hover {
    text-decoration: underline !important;
}

.flairselector .customizer {
    display: block;
    margin: 8px 0;
    width: 100%;
}

.flairselector .customizer input[type='text'] {
    width: 100%
}

.flairselector form button {
    display: block;
    float: right;
    margin: 0;
}

.flairselector .error {
    text-align: left;
}

.flairselector .error:first-letter {
    text-transform: capitalize;
}

.flairselector .error:after {
    display: block;
    color: #b3b3b3;
    content: "Go to /r/.../about/flair";
}

.flairselector img {
    position: relative;
    left: 50%;
    margin-left: -9px;
    opacity: 0.5;
}

.flairselector .flairoptionpane ul li {
    margin: 4px 0px;
}

.flairselector li.selected {
    border: none;
    background-color: transparent;
}

.flairselector .flairoptionpane ul li.flairsample-right {
    padding: 5px 0px !important;
    border: none;
}

.flairselector li a, .flairselector form .flairselection a.author {
    color: #738491 !important;
    font-size: 11px;
}

/* Unvotable Message */
.unvotable-message {
    border: 0px solid;
    color: #738491;
}

.unvotable-message:first-letter {
    text-transform: capitalize;
}

/* RES Selection */
.res .RES-keyNav-activeElement {
    outline: 0px dashed #EEEEEE !important;
    transition: all 0.15s ease;
}

.res .entry {
    transition: all 0.10s ease;
}

div.RES-keyNav-activeElement,
div.commentarea div.RES-keyNav-activeElement.entry div.noncollapsed {
    background-color: transparent !important;
    padding-left: 8px !important;
    border-left: 3px solid #C2C2C2;
}

div.commentarea div.RES-keyNav-activeElement .md {
    background-color: transparent !important;
}

body.res .commentarea .thing {
    padding: 14px 16px 8px 24px !important;
}

.res .commentarea .thing.collapsed {
    padding-bottom: 16px !important;
}

.res .commentarea .entry .flat-list {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.res .comment .entry {
    margin-bottom: 16px;
}

/* RES Tag dialog + RES Tag */
.userTagLink.hasTag, #userTaggerPreview {
    font-size: 11px !important;
    border-radius: 0px !important;
    border: 0px solid !important;
    margin-top: 0px !important;
    margin-left: 4px !important;
}

.RESDialogSmall {
    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.12);
    margin-top: 8px;
}

.RESDialogSmall > h3 {
    color: #4F8EF7;
    background-color: #333;
    border-bottom: 1px solid #EDEDED;
    height: 36px;
    padding: 8px;
    margin: 0px;
}

.livePreview .md {
    padding: 8px 12px;
}

.RESCloseButton {
    line-height: 19px;
    height: 22px;
    width: 22px;
    transition: all 0.15s ease;
}

.RESCloseButton:hover {
    border: 1px solid #D7D9DC;
}

#userTaggerToolTip input[type=text], #userTaggerToolTip select {
    line-height: 22px;
    padding-left: 4px;
    border: 1px solid #E5E5E5 !important;
}

.toggleButton {
    line-height: 0.8;

}

.toggleButton .toggleOn {
    border-radius: 0px;
    border: 1px solid #4F8EF7;
    background-color: #4F8EF7;
    color: #fff;
    text-transform: capitalize;
}

.toggleButton .toggleOff {
    border-radius: 0px;
    border: 1px solid #D7D9DC;
    background-color: transparent;
    text-transform: capitalize;
}

#userTaggerToolTip input[type=submit] {
    bottom: 10px !important;
}

/* Sorting Menu (Top links today/this week/ever) */
.content > .menuarea {
    margin: 0;
    padding: 0 20px;
    border: none;
    color: #738491;
    overflow: visible;
    line-height: 36px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.dropdown.lightdrop .selected {
    display: inline-block;
    color: #9E9E9E;
    text-decoration: none;
    cursor: pointer;
    padding: 0 4px;
    background: 0;
}

.dropdown.lightdrop .selected {
    z-index: 2;
}

.dropdown.lightdrop .selected:after {
    content: " ▼";
}

.dropdown.lightdrop .selected:hover {
    color: #4F8EF7;
}

.drop-choices.lightdrop {
    border: none;
    z-index: 1;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    margin: -22px -20px 0;
    padding: 32px 0 8px 0;
    min-width: 156px;
}

.drop-choices.lightdrop:before {
    display: block;
    content: '';
    border-bottom: 1px solid rgba(0, 0, 0, .14);
}

.drop-choices a.choice {
    padding: 8px 24px;
    transition: all 0.1s ease;
    color: #212121;
}

.drop-choices a.choice:hover {
    background-color: #eee;
}

/* RES Popup */
.guider {
    border: none;
    box-shadow: 0px 2px 3px #DDD;
}

.guider_content {
}

.guider_content h1 {
    color: #4F8EF7;
}

.guider_button {
    font-size: 11px;
    border: none;
    background-image: none;
    background-color: #4F8EF7;
    transition: all 0.15s ease;
}

.guider_button:hover {
    background-color: rgba(79, 142, 247, 0.75);
}

.guider_close {
}

.x_button {
    transition: all 0.25s ease;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.00);
}

.x_button:hover {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}

/* Infobar (Default yellow announcement bar) */
.content .infobar {
    margin: 0px 0px 16px 0px;
    padding: 8px 16px;
    line-height: 26px;
    border: none;
    background-color: #0079d3;
    color: #fff;
    border-radius: 2px;
}

.infobar .md {
    color: #fff;
}

.content .infobar:first-letter {
    text-transform: capitalize;
}

/* Welcome infobar */
.content .infobar.welcome {
    line-height: inherit;
    height: 86px;
}

.content .infobar.welcome h1 {
    color: #4d5763;
}

.commentarea .infobar {
    line-height: 18px;
    margin: 0 0 16px 0;
}

.commentarea .infobar a {
    color: rgba(0, 0, 0, 0.64);
    font-weight: bold;
}

/* Updated Reddit Infobar */
.reddit-infobar.with-icon {
    border: none;
    background: #333;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0px 4px 0 rgba(0, 0, 0, .12);
    margin: 0 0 16px 0;
    border-radius: 2px;
}

.reddit-infobar.with-icon .md {
    color: #000;
    font-size: 14px;
}

/* Locked Post */
.reddit-infobar.with-icon.locked-infobar {
    background: #27B062
}

.reddit-infobar.with-icon.locked-infobar .md {
    color: #fff;
}

.reddit-infobar.with-icon.locked-infobar p:after {
    content: " Sort comments by new to find out more."
}

.reddit-infobar.with-icon.locked-infobar:before {
    background-color: #27B062;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}

/* Cookies Bar */
#eu-cookie-policy .reddit-infobar {
    padding-right: 118px;
}

#eu-cookie-policy .c-btn-primary {
    margin: -2px 16px 0 0;
}

/* Noresults image */
#noresults {
    margin: 0;
    width: 100%;
    height: 416px;
    background: transparent url(%%noresults%%) no-repeat 50% 50%;
    text-indent: -9999px;
    font-size: 0px;
    display: block;
}

/* Next Page */
.nav-buttons {
    padding: 16px 0;
    margin: 0 16px;
    color: #738491;
}

.nav-buttons .nextprev {
    color: #738491;
    font-size: 14px;
}

.nav-buttons .nextprev a {
    border: 0px;
    padding: 8px 16px;
    background-color: transparent;
    border: 1px solid #edf1f3;
    transition: background-color 0.15s ease;
}

.nav-buttons .nextprev a:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
}

/* Sidebar */
.side {
    margin: 282px 16px 108px 0px;
    padding: 0;
    background: none;
    width: 320px;
}

.side .spacer {
    margin: 0 0 16px 0;
}

/* Start Subreddit Box */
.side:before {
    /*                 height: 192px;
                    background: url(%%sidebarimg%%);
                    content: "";
                    display: block;
                    position: absolute;
                    top: 100px;
                    width: 320px;
                    z-index: 1;
                    border-radius: 2px;
                    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12); */
}

/* Redditname + Subscibers & Here right now */
.side .titlebox h1.redditname:before {
    content: "";
    position: absolute;
    display: block;
    width: 320px;
    z-index: -1;
    height: 122px;
    margin-top: -16px;
    margin-left: -16px;
    background: url(%%sidebarimg%%);
    border-radius: 5px;
    box-shadow: 0 0px 15px 0 rgba(0, 0, 0, .75);
    border: 1px solid rgba(67, 175, 255, 0.5);
}

.side .titlebox h1.redditname {
    margin-bottom: 6px;
    font-size: 0;
    position: absolute;
    top: 320px;
    z-index: 100;
    font-family: Lato, arial, verdana, helvetica, sans-serif;
}

.side .titlebox h1.redditname a {
    color: #333;
}

.titlebox span.subscribers {
    position: absolute;
    z-index: 100;
    color: #FFF;
    font-size: 16px;
    top: 380px;
    text-shadow: 1px 1px black;
}

.titlebox .users-online {
    display: inline;
    position: absolute;
    top: 400px;
    color: #FFF;
    z-index: 100;
    text-shadow: 1px 1px black;
}

div.titlebox span.word {
    display: none;
}

.titlebox .users-online:before {
    display: none;
}

div.titlebox span.number:after {
    content: " readers";
}

.titlebox .users-online .number {
    font-style: italic;
}

.titlebox .users-online .number:before {
    content: "";
    width: 16px;
    height: 9px;
    display: inline-block;
    margin-right: 8px;
    background: url(%%spritesheet%%) -64px -36px;
}

.titlebox .users-online .number:after {
    content: " currently online";
}

.titlelebox .word {
    display: none;
}

.titlebox .users-online, .titlebox .number {
    cursor: text;
}

/* Subscribe Button */
.titlebox .fancy-toggle-button {
    margin: 0;
    position: absolute;
    margin-left: 208px;
    top: 380px;
    z-index: 100;
}

.titlebox .fancy-toggle-button .active {
    display: block;
    border: none;
    height: 32px;
    border-radius: 2px;
    line-height: 30px;
    background-image: none !important;
    padding: 0 12px;
    text-transform: capitalize;

    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0px 4px 0 rgba(0, 0, 0, .12);
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1), padding 0.2s ease, margin 0.2s ease;
}

.titlebox .fancy-toggle-button .active:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.titlebox .fancy-toggle-button .active:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.0);
}

/* Subscribe */
.titlebox .fancy-toggle-button .active.add {
    background: #FF7f00;
    color: #fff;
}

.titlebox .fancy-toggle-button .active.add:hover {
    background: #36bb6f;
}

.titlebox .fancy-toggle-button .active.add:active {
    background: #189b51;
    padding-left: 24px;
    margin-left: -13px;
    text-align: center;
}

/* Unsubscribe */
.titlebox .fancy-toggle-button .active.remove {
    background: rgba(0, 0, 0, .15);
    color: rgba(255, 255, 255, 0.8);
    margin-left: -14px;
    box-shadow: none;
    text-shadow: 1px 1px black;
    border: 1px solid rgba(255, 255, 255, .15);
}

.titlebox .fancy-toggle-button .active.remove:hover {
    background: rgba(0, 0, 0, .8);
    color: #FFF;
    border-color: black;
}

.titlebox .fancy-toggle-button .active.remove:active {
}

.hover-bubble.multi-selector {
    right: 346px !important;
    margin-top: -56px;
    border: none;
}

.hover-bubble.anchor-right:before {
    right: -19px;
    border-left-color: #CCCCCC;
}

.titlebox .bottom {
    padding-top: 10px;
    border-color: rgba(0, 0, 0, 0.14);
}

/* Search */
#search {
    position: absolute;
    top: 212px;
    z-index: 1;
    width: 320px;
}

#search input[type=text] {
    padding: 0 42px 0 16px;
    border: 0px solid;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    line-height: 41px;
    background: rgba(0, 0, 0, .15);

    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
}

#search input[type=text]:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

#search input[type=text]:focus {
    border-radius: 2px 2px 0px 0px;
}

#search input[type=text]:focus:hover {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.24) !important;
}

#search input[type="text"]:-moz-placeholder {
    font-size: 14px;
    text-transform: capitalize;
    top: 1px;
    position: relative;
}

#search input[type="text"]::-webkit-input-placeholder {
    font-size: 14px;
    text-transform: capitalize;
    top: 1px;
    position: relative;
}

#search input[type="text"]:-ms-input-placeholder {
    font-size: 14px;
    text-transform: capitalize;
    top: 1px;
    position: relative;
}

#search input[type=text]::-webkit-input-placeholder {
    color: #B3B3B3;
}

#search input[type=text]:-moz-placeholder {
    color: #B3B3B3;
}

#search input[type=text]::-moz-placeholder {
    color: #B3B3B3;
}

#search input[type=text]:-ms-input-placeholder {
    color: #B3B3B3;
}

#search input[type=submit] {
    height: 32px;
    width: 32px;
    margin-left: -38px;
    background: url(%%spritesheet%%) -64px -96px no-repeat;
    border: none !important;
    border-radius: 16px;
    transition: background .2s cubic-bezier(.4, 0, .2, 1);
}

#search input[type=submit]:hover {
    background: rgba(158, 158, 158, .2) url(%%spritesheet%%) -64px -97px no-repeat;
}

/* Expando */
#search #searchexpando {
    background: transparent;
    color: #AAA;
    border: none;
    border-radius: 0px 0px 2px 2px;
    margin: 0;
    padding: 4px;
    height: 54px;
    line-height: 50px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

#search #searchexpando label {
    padding: 21px 8px 17px 8px;
    cursor: pointer;
    transition: all 0.1s ease;
}

#search #searchexpando label:active {
    background: rgba(0, 0, 0, 0.06);
}

#search #searchexpando p {
    display: none !important;
}

/* Submit Button */
.morelink {
    background: #0079d3;
    height: 36px;
    border-radius: 2px;
    font-size: 14px;
    line-height: 36px;
    border: none;
    text-align: center;
    padding: 0px 0px;

    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0px 4px 0 rgba(0, 0, 0, .12);
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
}

.morelink:hover {
    background: #158be2;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.morelink:active {
    background: #0066b2;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0px 4px 0 rgba(0, 0, 0, .12);
}

.sidebox.submit.submit-text .morelink {
    margin-left: 168px;
}

.morelink a {
    color: #fff;
    font-weight: normal;
    letter-spacing: 0px;
}

.submit-text .morelink a:before {
    font-size: 14px;
    content: "Submit Text";
}

.submit-link .morelink a:before {
    font-size: 14px;
    content: "Submit Link";
}

.submit-text .morelink:before, .submit-link .morelink:after {
    content: "N/A";
    position: absolute;
    left: -168px;
    top: 0px;
    width: 152px;
    color: rgba(0, 0, 0, 0.32);
    border-radius: 2px;
    background: rgba(0, 0, 0, 0.08);
    font-weight: normal;
    z-index: -1;
}

.submit-link .morelink:after {
    left: 168px;
}

/* Restricted button */
.disabled .morelink {
    box-shadow: none !important;
    background: rgba(0, 0, 0, 0.08);
    width: 320px;

}

.disabled .morelink a {
    color: rgba(0, 0, 0, 0.32);
    font-size: 14px;
}

.morelink .nub {
    display: none;
}

.submit.mod-override .morelink a:after {
    position: relative;
    margin: 10px 10px 10px 0;
    float: right;
    margin-left: -16px;
}

/* Submit Links */

.submit .morelink {
    position: absolute;
    top: 442px;
    font-size: 0px;
    width: 152px;
}

/* Wiki talk submit */

.wiki-page .wiki-page-content .discussionlink {
    margin: 16px 0 0 0;
    padding: 0;
}

.wiki-page .wiki-page-content .discussionlink a {
    padding: 0 16px
}

/* Login form */
.login-form-side {
    border: none;
    border-bottom: 1px solid #edf1f3;
    padding-bottom: 8px;
}

.login-form-side input[type=text], .login-form-side input[type=password] {
    width: 136px;
    margin: 0;
}

.login-form-side input[type=text] {
    margin-left: 0px;
    margin-right: 16px;
}

.login-form-side button.btn {
    margin-right: -3px;
}

/* Titlebox "Info" */
.titlebox {

}

.titlebox:before {
    content: "Subreddit Info";
    display: block;
    color: #292f34;
    font: 18px/24px verdana, arial, helvetica, sans-serif;
    margin: 8px 0px;
}

.titlebox .tagline {
    font-size: 12px;
    margin: 0;
}

.titlebox .tagline:after {
    content: "";
    height: 2px;
    background: #f2f2f2;
    display: block;
    margin-top: 16px;
}

.titlebox .tagline a.flairselectbtn {
    color: #24a0ed;
}

.leavemoderator, .titlebox .tagline a.author, .titlebox form.toggle.leavecontributor-button {
    display: none;
}

.titlebox form.flairtoggle {
    line-height: 2;
}

.titlebox form.toggle.sr_style_toggle {
    padding-bottom: 0px;
    display: block;
    background-color: transparent;
}

.titlebox form.toggle.sr_style_toggle label {
    position: relative;
    top: -3px;
}

/* Sidebar Description */
.side .md .-blocks, .side .md .-lists, .side .md pre, .side .md blockquote, .side .md table, .side .md p, .side .md ul, .side .md ol {
    color: #CCC;
    font: 13px/1.45 sans-serif;
}

.side .titlebox .md h1 {
    line-height: 18px;
    margin: 0.5em 0 0 !important;
}

.side .titlebox .md h2 {
    margin: 16px 0px 2px;
}

/* Buttonstyle H3 */
.side .titlebox .md h3 a {
    padding: 0 16px;
    width: 100%;
    border-radius: 2px;
    background: #0079d3;
    font: 12px/42px verdana, arial, sans-serif;
    color: #fff;
    display: block;
    margin: 1.5em 0em;
    text-align: center;

    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0px 4px 0 rgba(0, 0, 0, .12);
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
}

.side .titlebox .md h3 a:hover {
    background: #158be2;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.side .titlebox .md h3 a:active {
    background: #0066b2;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0px 4px 0 rgba(0, 0, 0, .12);
}

.side .md h4 {
    height: 32px;
    font-size: 0;
    margin: 16px -16px;

    background-image: url(%%sidebar-text-sprite%%),
    url(%%sidebar-text-sprite%%);
    background-position: 12px 0,
    -328px 0;
    background-repeat: no-repeat,
    no-repeat;
}

.side .md hr {
    display: none;
}

/* Mod Box */
.side #moderation_tools {

}

.side #moderation_tools .title {

}

.side #moderation_tools .title h1 {
    text-transform: capitalize;
    color: #4D5763;
}

.side #moderation_tools .title .collapse-button, {
    color: #4D5763;
    vertical-align: middle;
    text-align: center;
    border-radius: 1px;
    border: 1px solid #d8d8d8;
}

.side .sidecontentbox .content {
    border: none;
    padding: 8px 0px;
}

.icon-menu a {
    background: none;
}

/* Create Community */
.create .morelink {
    background: #333;
}

.sidebox.create .morelink a {
    font-size: 14px;
    color: #24a0ed;
}

.sidebox .spacer {
    display: none;
}

/* Recently viewed links */
.gadget .midcol {
    width: 38px;
}

.gadget .reddit-entry .linkflairlabel {
    display: none;
}

.gadget .right {
    text-transform: uppercase;
}

/* Account Activity */
.account-activity-box a {
    text-transform: uppercase;
}

/* Credits */
.side:after {
    display: block;
    margin: 0px 0px;
    padding: 10px 0px;
    color: #24A0ED;
    content: "This subreddit uses the /r/Naut theme.";
    font: 16px Lato, arial, sans-serif;
    position: absolute;
    width: 320px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    text-align: center;
}

/* Comments Page */
.commentarea {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.comments-page .link .usertext .md {
    margin-bottom: 0px;
}

.commentarea .panestack-title {
    margin: 0;
    border-bottom: 0;
    padding-left: 16px;
    margin-top: 16px;
}

.commentarea .panestack-title .title {
    color: #4D5763;
}

.commentarea .menuarea {
    margin: 0 0 20px 0;
    padding-left: 16px;
}

.comment-permalink-page .commentarea .menuarea {
    margin: 20px 0;
}

.commentarea .menuarea span.dropdown-title.lightdrop {
    color: #98abba;
}

.commentarea .menuarea span.dropdown-title.lightdrop:first-letter {
    text-transform: capitalize;
}

.commentarea .menuarea .dropdown.lightdrop .selected {
    font-weight: normal;
}

.commentarea .menuarea .toggle a, .help-hoverable {
    color: #98abba;
    font-weight: normal;
}

.commentarea .menuarea .toggle a:hover, .help-hoverable:hover {
    color: #24a0ed;
}

.help-hoverable {
    font-size: x-small;
}

.commentarea > .usertext {
    background: rgba(22, 37, 52, .75);
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: -5px 0 0 0;
    padding: 16px;
    overflow: visible;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
}

.usertext button {
    margin: 0 16px 0 0;
}

.commentarea .usertext-edit {
    width: 100%;
    max-width: 504px;
}

.commentarea .usertext-edit textarea {
    position: relative;
    z-index: 0;
    width: 100%;
}

/* Comment Placeholder Image */
/* .commentarea>.usertext textarea:not(:focus) { background: url(%%commentboxbg%%) no-repeat 50% 50%;} */

.usertext .bottom-area {
    width: 504px;
}

.usertext .bottom-area a.reddiquette {
    color: #24a0ed;
}

.commentarea .usertext-edit .md {
    margin: 0 0 16px 0;
}

.gold-accent.comment-visits-box {
    margin: 0px 0px 16px 0px;
    padding: 0 8px;
    line-height: 36px;
    border-radius: 2px;
    background: #CFD8DC;
    border: none;
    color: #292f34;
    max-width: initial;
}

.gold-accent.comment-visits-box select {
    margin: 8px 0 8px 6px;
}

.reddit-infobar.gold-accent {
    background: #FFD54F;
    margin: 16px 16px 0 16px;
    border: none;
    border-radius: 2px;
    padding: 0 8px;
}

.reddit-infobar.gold-accent p {
    line-height: 36px;
    margin: 0;
}

/* Gilding */
.gilded-icon:before {
    background: url(%%spritesheet%%) -112px -160px;
    height: 16px;
    width: 16px;
}

.user-gilded > .entry .gilded-icon:before {
    width: 16px;
}

/* Comments */
.commentarea .sitetable {
    margin: 0px;
    box-shadow: none;
}

.commentarea .thing {
    margin: 0 0 16px 0;
    padding: 8px 16px 8px 24px !important;
    position: relative;
}

.commentarea .thing + div + .thing {
    border-top-width: 0;
}

.commentarea > .sitetable > .thing {
    border-top-width: 1px !important;
}

.commentarea .child .thing {
    box-shadow: none;
    margin: 0;
}

.commentarea .comment .midcol {
    margin-top: 2px;
    width: 32px;
    margin-right: 6px;
    overflow: visible;
}

/* One stack of comments behind one parent comment */
.commentarea .sitetable .comment {
    border: 1px solid #555;
}

.comment .child, .comment .showreplies {
    border: none;
    margin-top: 0px;
    margin-left: 20px;
}

/* Vote arrows */
.comment .midcol {
    width: 24px;
    margin-right: 0px;
}

.comment .midcol .arrow {
    margin-left: 0px;
    margin-bottom: 4px;
}

.comment.noncollapsed .entry {
    margin-bottom: 16px;
}

.comment .entry .tagline {
    color: #98abba;
    font: 12px Arial, sans-serif;
}

.comment .expand {
    background: none;
    transition: all 0.15s ease;
    color: #AAA;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 24px;
    text-align: center;
    padding: 4px;
}

.comment .expand:hover {
    color: #EEE;
    text-decoration: none;
    background: rgba(0, 0, 0, .15);
}

.comment.collapsed a.expand:after {
    content: "ah ";
    position: absolute;
    display: block;
    width: calc(100% - 368px);
    background: rgba(0, 0, 0, 0.00);
    left: 16px;
    margin-top: -34px;
    height: 50px;
    border-radius: 2px;
    color: transparent;
    transition: background .2s cubic-bezier(.4, 0, .2, 1);
}

.comment.collapsed a.expand:hover:after {
    background: rgba(0, 0, 0, 0.04);
}

.comment .author {
    color: #24a0ed;
    margin-right: 0;
    font-weight: bold;
}

.comment .author:hover {
    color: #24a0ed;
    text-decoration: none;
}

.green {
    color: #27b062 !important;
    font-weight: bold;
}

/* RES Fixes */
.res .thing .tagline .author.submitter {
    padding: 1px 4px;
    border-radius: 1px;
    background-color: #4F8EF7 !important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    transition: all 0.15s ease;
}

.res .thing .tagline .author.submitter:hover {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #4F8EF7 !important;
}

.comment .score {
    font-size: inherit;
    font-weight: bold;
    color: #738491;
}

.comment .score:before {
    content: "• ";
    margin: 0 2px;
    vertical-align: middle;
    line-height: 14px;
}

/* Comment Body Text */
.comment .usertext .md {
    color: #CCC;
}

.md a {
    color: #24a0ed;
}

.md a:visited {
    color: #7D5D8A;
}

.md pre {
    padding: 8px;
}

.md blockquote {
    border-left: 2px solid #edf1f3;
    color: #738491;
}

.md h1, .md h2 {
    margin: 0.5em 0 0.25em 0;
    border: none;
    color: #EEE;
}

.md h3 {
    color: #EEE;
    margin: 16px 0 0 0;
}

.md h4, .md h5, .md h6 {
    color: #EEE;
}

/* Deleted comment */
.usertext.grayed .usertext-body {
    margin: 4px 0;
    background-color: transparent;
    text-transform: italic;
    padding: 0;
}

/* Spam comment */
.comment.spam > .child {
    padding-left: 0;
    margin-left: 16px
}

/* Reply / Share / report */
.comment .flat-list li a {
    color: #98abba;
    font-weight: normal;
    font-size: 10px;
}

.comment .flat-list li a:hover {
    color: #24a0ed;
    text-decoration: none;
}

.comment .flat-list li a[onclick*="reply"] {
    color: #24a0ed;
    font-weight: bold;
    font-size: 11px;
}

.deepthread a {
    color: #24a0ed;
}

.morecomments a {
    color: #738491;
}

/* Sidebar stuff */
.comments-page .side {
    margin-top: 400px;
}

.comments-page .side .linkinfo {
    position: absolute;
    top: 494px;
    padding: 16px;
    width: 320px;
    height: 98px;
    background: #333;
    border-radius: 2px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.16);
    border: none;
}

.comments-page .side .linkinfo .date {
    color: #98abba;
}

.comments-page .side .linkinfo .date:first-letter {
    text-transform: capitalize;
}

.comments-page .side .linkinfo .score {
    color: #292f34;
}

.comments-page .side .linkinfo .score {
    margin-top: 8px;
}

.linkinfo .score .number {
    font-size: 14px;
}

.linkinfo .score .word {
    font-size: 14px;
}

.comments-page .side .linkinfo .shortlink {
    font-size: 90%;
    margin-top: -2px;
    visibility: hidden;
}

.comments-page .side .linkinfo .shortlink input {
    background-color: #FAFAFA;
    border: none;
    border-radius: 0 0 2px 2px;
    margin: 0 -16px;
    padding: 10px 16px;
    visibility: visible;
    width: 320px;
}

.res.comments-page .side {
    margin-top: 414px;
}

/* Next Post / Preview */
.read-next {
    width: 320px;
    height: 128px;
    border: 1px solid #edf1f3;
    border-radius: 2px 2px 0 0;
}

.read-next .read-next-header {
    border-bottom: 1px solid #edf1f3;
    color: #738491;
    padding: 8px 16px;
    background-color: #f2f7fa;
}

.read-next .read-next-nav {
    top: 8px;
}

.read-next .read-next-button {
    background-color: rgb(0, 121, 211);
    color: rgb(255, 255, 255);
    font: 10px/16px monospace;
    height: 16px;
    width: 16px;
}

.read-next .read-next-link {
    height: inherit;
}

.read-next .read-next-header-title {
    top: 0px;
    line-height: inherit;
}

.read-next .read-next-list {
    padding: 8px 16px;
}

.read-next .read-next-meta {
    color: #738491;
    line-height: 2;
}

/* Submission Page */
.submit-page #header {
    height: 144px;
}

.submit-page #header-bottom-left {
    top: 86px;
    left: 50%;
    margin-left: -262px;
}

.submit-page[class] .content {
    margin: 32px auto 0px auto;
}

.submit-page .side, .submit-page .content h1, #suggested-reddits {
    display: none;
}

.submit-page #newlink.submit.content {
    width: 524px;
    margin: 0 auto;
}

.submit-page #newlink.submit.content form .spacer + .spacer {
    margin: 0;
}

.submit-page #newlink.submit.content ul.tabmenu.formtab {
    position: relative;
    padding: 0;
    border: none;
    background: #0079D3;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.submit-page #newlink.submit.content .tabmenu.formtab a {
    padding: 16px;
    width: 262px;
    display: inline-block;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.15s ease;
    font-size: 16px;
    border: none;
    border-bottom: 4px solid transparent;
}

.submit-page #newlink.submit.content .tabmenu.formtab .selected a {
    font-size: 16px;
    background: none;
    color: #fff;
    border-bottom: 4px solid;
}

.submit-page #newlink.submit.content .tabmenu.formtab a:hover {
    color: #fff;
}

.submit-page .formtabs-content {
    border-top: 0px;
    padding-top: 0;
}

.submit-page .roundfield {
    padding: 16px;
    width: 524px;
    border: none;
}

.submit-page .roundfield span.title {
    color: #292f34;
    text-transform: capitalize;
}

.submit-page #url-field button {
    background: #c3cfd6;

}

.submit_text.enabled.roundfield {
    background: #0079D3;
}

.submit_text.enabled.roundfield .md {
    color: #fff;
}

.submit_text ol, .submit_text ul {
    margin-left: -1em;
}

.submit-page .infobar {
    display: none !important;
}

.content.submit .info-notice {
    background: #edf1f3;
    padding: 16px;
    border: none;
    margin-bottom: 0px;
}

#items-required {
    padding-bottom: 0px !important;
    padding-top: 15px;
}

.submit-page #newlink.submit.content .btn {
    width: 100%;
    height: auto;
    margin-top: 16px;
    cursor: pointer;
    text-transform: capitalize;
    font: 17px Lato, arial, sans-serif;
    padding: 16px;
    margin-bottom: 48px;
}

.submit-page #newlink.submit.content .btn:hover {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.48);
}

.submit-page .footer-parent {
    display: none;
}

body #newlink-with-image-upload .file-upload-button {
    padding-right: 18px;
    line-height: 29px;
}

#new-link-image-input > div:first-of-type {
    display: inline-block;
    padding-right: 16px
}

/* Search Page */
.search-page #header .pagename a {
    display: none;
}

.search-page #header {
    height: 156px;
}

.search-page #header-bottom-left {
    top: 56px;
}

.search-page .searchpane {
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
}

.raisedbox h4 {
    display: none;
}

.search-page #search {
    position: absolute;
    top: -128px;
    left: 60px;
    padding: 0px;
}

.search-page #search input[type=text] {
    min-width: 320px;
    width: 320px;
}

.combined-search-page .search-result-listing + .search-result-listing .contents {
    padding: 0;
}

.combined-search-page .search-submit-button {
    position: relative;
    left: -42px;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    background: url(%%spritesheet%%) -64px -96px;
    box-shadow: none;
    border-radius: 50%;
    transition: background-color .2s cubic-bezier(.4, 0, .2, 1);
}

.combined-search-page .search-submit-button:hover {
    background-color: rgba(158, 158, 158, .2)
}

.combined-search-page .search-submit-button .search-icon {
    display: none;
}

.search-page #previoussearch label {
    position: absolute;
    margin: 0;
    width: 100%;
    padding: 12px;
    background: #f9f9f9;
    z-index: -1;
    border-radius: 0px 0px 2px 2px;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0px 4px 0 rgba(0, 0, 0, .12);
    cursor: pointer;
    margin-top: -2px;
}

.search-page #previoussearch p a#search_showmore {
    position: absolute;
    left: 324px;
    top: 8px;
    width: 22px;
    height: 24px;
    background: url(%%spritesheet%%) -49px -168px no-repeat;
    overflow: hidden;
    font-size: 0px;
}

#previoussearch #moresearchinfo {
    margin: 0;
    max-width: none;
    border: none;
}

/* New search results */
.search-result-group {
    max-width: none;
    min-width: 0px;
    padding: 0;
}

.search-result-group-header {
    height: 36px;
    line-height: 38px;
    margin: 0 0 8px 0;
    border: none;
}

.search-header-label {
    text-transform: capitalize;
    color: #738491;
    font: 24px/38px Lato, Arial, sans-serif;
}

.combined-search-page .search-result-group .search-menu {
    margin-right: 16px;
}

/* Subreddits */
.combined-search-page .content > div:nth-of-type(2) {

}

.search-result.search-result-subreddit {
    display: inline-block;
    width: calc(33% - 8px);
    max-width: 360px;
    height: 184px;
    margin: 0 16px 16px 0;
    border-radius: 2px;
    vertical-align: top;
    overflow: hidden;
}

.search-result.search-result-subreddit:nth-of-type(3n) {
    margin-right: 0;
}

.search-result-subreddit .search-result-body {
    padding: 0px;
}

.search-result-subreddit .search-result-meta {
    padding: 4px 0;
}

.search-result-meta span.search-time {
    display: none;
}

/* Item */
.search-result {
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 16px;
}

.combined-search-page .search-result .search-result-header .search-title {
    color: #24a0ed;
}

.combined-search-page .search-result .search-result-meta {
    color: #738491;
}

.combined-search-page .search-result a, .combined-search-page .search-result a > mark {
    color: #24a0ed;
}

.combined-search-page .search-result-subreddit .search-subscribe-button {
    border-radius: 2px;
}

.combined-search-page .search-result-subreddit .search-subscribe-button .add,
.combined-search-page .search-result-subreddit .search-subscribe-button .add:active {
    background: #0079d3;
    border: none;
    border-radius: 2px;
}

.combined-search-page .search-result-subreddit .search-subscribe-button .remove,
.combined-search-page .search-result-subreddit .search-subscribe-button .remove:active {
    background: transparent;
    border: 1px solid #98abba;
    color: #738491;
}

.combined-search-page .search-result .search-comments {
    color: #24a0ed;
}

.search-result.has-thumbnail > .thumbnail {
    margin-right: 16px;
    flex: 0 0 80px;
}

.search-result.has-thumbnail > .thumbnail.self, .search-result.has-thumbnail > .thumbnail.default, .search-result.has-thumbnail > .thumbnail.nsfw, .search-result.has-thumbnail > .thumbnail.image {
    margin-right: 28px;
    flex: 0 0 56px;
}

.combined-search-page .search-result-group footer .nav-buttons {
    margin: 0;
}

.nextprev, .next-suggestions {
    color: #738491;
}

/* More subreddits */
[class] .searchfacets {
    border: none;
    margin: 0 0 8px;
    width: 100%;
    max-width: initial;
}

.searchfacets .title {
    margin: 0;
}

.searchfacets h4.title {
    color: #738491;
    margin: 0 0 8px 0;
}

.searchfacets h4.title:first-letter {
    text-transform: capitalize;
}

.searchfacets .list {
    margin: 0;
}

.searchfacets .facet.count {
    color: #98abba;
    font-weight: normal;
}

.searchfacets .facet.count:hover {
    text-decoration: none;
}

.search-page .morelink {
    top: 384px;
}

.search-page .side {
    margin-top: 280px;
}

.search-summary {
    display: none;
}

/* Wiki Page */
.wiki-page .wikititle {
    background: #333;
    padding: 9px 16px 10px;
    border-radius: 2px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.16);
    font: 16px arial, sans-serif;
    margin: 0;
}

.wiki-page .pageactions {
    background: #333;
    margin-left: 16px;
    border-radius: 2px;
    padding: 0px 16px;
    border: none;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.16);
}

.wiki-page .pageactions .wikiaction {
    margin: 0;
    background: transparent;
    border-radius: 0px;
    padding: 10px 16px 11px;
    color: #98abba;
}

.wiki-page .pageactions .wikiaction-current {
    padding: 10px 16px 9px;
    border-bottom: 2px solid #24a0ed;
    color: #24a0ed;
}

.wiki-page .pageactions .wikiaction:hover, .wiki-page .pageactions .wikiaction-current:hover {
    background: rgba(0, 0, 0, 0.05);
}

.wiki-page .wiki-page-content {
    margin: 16px 0px 16px 0px;
    background: #333;
    padding: 8px 0;
}

.wiki-page .wiki-page-content .wiki > .toc > ul {
    border: none;
}

.wiki-page .wiki-page-content .wiki.md {
    color: #292f34;
}

.wiki-page .wiki-page-content .wiki.md h2 {
    color: #292f34;
}

.wiki-page .wiki-page-content hr {
    border-style: solid;
    border-color: #edf1f3
}

.wiki-page .wiki-page-content em {
    color: #98abba;
}

/* Subreddit Settings Page + Flair Page + Stylesheet Page + Rules Page */
.linefield, .linefield.mobile {
    background: #333;
    color: #98abba;
    margin: 0 0 16px 0;
    width: 528px;
    border: none;
}

.linefield .title {
    color: #24a0ed;
    text-transform: capitalize;
    padding: 0;
}

.linefield .linefield-content {
    padding: 0;
}

.linefield .title:first-letter, .linefield label:first-letter {
    text-transform: capitalize;
}

.usertext .bottom-area a {
    color: #98abba;
}

.usertext .bottom-area a:hover {
    color: #24a0ed;
}

.pretty-form {
    padding-top: 24px;
}

.fancy-settings h1, .create-promotion h1 {
    color: rgba(255, 255, 255, .8);
}

.fancy-settings h1 strong {
    color: rgba(255, 255, 255, 1);
}

.tabmenu {
    border-bottom: 1px solid #edf1f3;
    margin-bottom: 12px;
}

.tabmenu li {
    margin: 0px !important;
}

.tabmenu li a {
    background: none;
    color: #292f34;
    font-size: 14px;
}

.tabmenu li.selected a {
    color: #24a0ed;
    background: none;
    border: none;
}

.tabpane-content {
    border: none;
}

.tabpane-content .flairrow {

}

.tabpane-content .flairrow a.author {
    color: #98abba;
}

.tabpane-content .tagline a {
    color: #292f34;
}

.tabpane-content .thing .title {
    overflow: visible;
}

.fancy-settings .pretty-form {
    padding-top: 0px;
}

/* Stylesheet page */
.stylesheet-customize-container .pretty-form {
    padding-top: 0;
    padding: 8px 0;
    margin-bottom: 16px;
}

.stylesheet-customize-container .pretty-form .sheets {
    margin-right: 0;
}

.stylesheet-customize-container h2 {
    display: none;
}

.sheets .btn.right {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

pre {
    overflow: hidden;
}

#images {
    padding: 8px 0;
    background: #333;
    position: relative;
    overflow: auto;
    height: inherit;
}

#images #image-upload {
    margin: 0em 0em 16px;
}

ul.image-preview-list {
    margin: 16px 0 0 0
}

ul.image-preview-list li {
    width: 33.33%
}

.subreddit-rules-page .subreddit-rule-buttons button, .subreddit-rules-page .subreddit-rule-add-form-buttons button, .subreddit-rules-page .form-buttons button, .subreddit-rule-delete-confirmation button {
    padding: 0 16px;
    background: #0079d3;
    border: none;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    height: 36px;
    font-size: 14px;
    font-family: Lato, arial, sans-serif;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0 4px 0 rgba(0, 0, 0, .12);
    transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);
}

.subreddit-rules-page .subreddit-rule-buttons button:hover, .subreddit-rules-page .subreddit-rule-add-form-buttons button:hover, .subreddit-rules-page .form-buttons button:hover, .subreddit-rule-delete-confirmation button:hover {
    color: #fff;
    background: #158be2;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}

.subreddit-rules-page .subreddit-rule-buttons button:active, .subreddit-rules-page .subreddit-rule-add-form-buttons button:active, .subreddit-rules-page .form-buttons button:active, .subreddit-rule-delete-confirmation button:active {
    color: #fff;
    background: #0066b2;
    box-shadow: 0 2px 1.5px 0 rgba(0, 0, 0, .12), 0 0px 4px 0 rgba(0, 0, 0, .12);
}

.subreddit-rule-item:hover {
    background-color: transparent;
}

/* FAQ */
.stylesheet-customize-container:before {
    position: fixed;
    width: 100%;
    padding: 16px;
    color: #fff;
    left: 0px;
    bottom: 0px;
    background: #2E2F31;
    content: "Hey! There's an FAQ if you just scroll down a little.";
    font-size: 18px;
    z-index: 100;
}

.stylesheet-customize-container:after {
    display: block;
    content: "";
    width: 100%;
    height: 800px;
    z-index: 100;
    margin-top: 40px;
    background: url(%%faq%%) 50% 50% no-repeat;
}

/* Flairs */
.flair {
    border: none;
    border-radius: 0px;
    font: normal 12px arial, sans-serif;
    background: transparent;
    color: #98abba;
    padding-left: 0px;
    margin-right: inherit;
}

.link .flair {
    font-size: 12px;
}

.flair:before {
    margin-right: 3px;
    height: auto;
    content: "- ";
    margin-left: 4px;
}

.side .flair:before {
    margin-left: 0px;
}

/* Comments (/r/.../comments) */
.listing-page .comment {
    margin-left: 0px;
    padding: 16px 16px 16px 8px;
}

.listing-page .comment .midcol {
    width: 36px;
    margin-right: 2px;
    margin-top: 4px;
    overflow: visible;
}

.listing-page .comment .parent {
    margin-bottom: 4px;
}

.listing-page .comment .title {
    font-size: 14px;
    margin-left: 8px;
}

/* Footer */
.footer-parent {

}

.footer {
    border: 0px solid;
    border-radius: 2px;
    background: rgba(43, 51, 58, 0.64);
    padding: 16px;
    max-width: 640px;
}

.footer .col {
    padding: 0px 24px;
    border: none;
}

.flat-vert.title, .bottommenu a {
    color: rgba(255, 255, 255, 0.7);
}

.bottommenu {
    color: rgba(255, 255, 255, 0.42);
}

.debuginfo, #hsts_pixel {
    display: none;
}

/* Bunch of RES (Reddit Enhancement Suite) Fixes */
.res .link .tagline a.voteWeight {
    background-color: transparent !important;
}

.res .thing .tagline .author.moderator {
    background-color: #27b062 !important;
    padding: 1px 4px;
    border-radius: 1px;
}

#header-bottom-right #userbarToggle + * {
    margin-left: 0px !important;
}

.res .srSep {
    color: rgba(255, 255, 255, 0.45);
}

.res #RESShortcutsViewport {
    margin-right: 381px;
}

.res #RESShortcutsEditContainer {
    margin-right: 312px;
}

.res #RESShortcutsEditContainer, #RESShortcutsSort, #RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd, #RESShortcutsTrash {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.45) !important;
    top: 1px !important;
}

.res #RESShortcuts {
    color: #E0E0E0
}

/* Pinheader */
.pinHeader-sub #sr-header-area, .pinHeader-subanduser #sr-header-area {
    background-image: url(%%headerimg%%);
    background-position: 50% 0%;
}

.pinHeader-sub #header-bottom-left, .pinHeader-subanduser #header-bottom-left {
    margin-top: 0px;
}

.pinHeader-header:before {
    display: none !important;
}

.pinHeader-header .content {
    margin-top: 12px !important;
}

.pinHeader-header .side {
    margin-top: 164px;
}

.pinHeader-header.res.comments-page .side {
    margin-top: 290px;
}

.pinHeader-header #header {
    top: 0px;
    background-image: url(%%headerimg%%);
    height: 84px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.24);
}

.res.search-page #header .tabmenu {
    display: none !important;
}

.res #header-bottom-right {
    top: 1px;
    border-radius: 0px;
    height: 18px;
    padding: 0px 8px 0px 0px;
}

.res #userbarToggle {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.45);
    border-radius: 0px;
    border: none;
    left: -32px;
}

.res a.beta-link {
    top: 4px;
}

.res #header-bottom-right .user .userkarma {
    display: none;
}

.res #header-bottom-right .user {
    font-size: 0 !important;
}

.res #header-bottom-right .user a {
    font-size: 11px
}

.res #sr-header-area a.RESShortcutsCurrentSub, .res #RESSubredditGroupDropdown .RESShortcutsCurrentSub a {
    color: #fff !important;
    border-bottom: 2px solid #fff;
}

#RESAccountSwitcherIcon {
    position: relative;
    top: -4px;
}

.res #REScommentNavToggle {
    max-width: 98px;
    overflow: hidden;
    max-height: 15px;
    background-color: #FAFAFA;
    transition: all 0.35s ease;
}

.res #REScommentNavToggle:hover {
    max-width: 100%;
}

.res .commentarea > .usertext {
    margin-top: -76px;
    padding-top: 80px !important;
}

.res .content .RESBigEditorPop {
    background-color: rgba(0, 0, 0, 0);
    line-height: inherit;
    font: 11px verdana, arial, sans-serif;
    box-shadow: none;
    font-weight: normal;
    color: #4D5763;
    border: none;
    padding: 0;
    height: inherit;
    margin-left: 4px;
    margin-top: 5px;
}

html.res-commentBoxes .comment {
    margin-left: 0 !important;
    margin-right: 0px !important;
}

.res .commentarea .thing {
    border: none !important;
    border-radius: 2px !important;
}

.res .titlebox .tagline {
    margin-top: 6px;
}

.res .RESshortcutside, .res .RESDashboardToggle {
    background-image: none !important;
    border: none;
    color: #4D5763;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 0px;
    padding: 4px 6px 4px 0px;
    margin: 2px 6px 2px -4px;
    text-align: left;
    width: auto;
}

.res .RESshortcutside:hover, .res .RESDashboardToggle:hover {
    background-color: transparent;
    color: #24a0ed;
}

.res #progressIndicator {
    width: inherit;
    border-radius: 0px;
    border: none;
    padding: 16px;
    margin: 16px 0px 16px 0px;
    color: #b3b3b3;
    background-color: #333;
    height: inherit;
}

.res #progressIndicator h2 {
    color: #4D5763;
}

.res .NERPageMarker {
    border-radius: 0px;
    border: none;
    background-color: #333;
    padding: 16px 0px;
    margin: 0px;
}

.res .sitetable .sitetable {
    margin-right: 0px;
}

.res #search #searchexpando {
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    height: auto;
}

.res #search #searchexpando label {
    padding-top: 13px;
    padding-bottom: 13px;
}

.res #searchexpando .searchexpando-submit {
    display: none;
}

.res h1.hover.redditname {
    overflow: visible !important;
}

.res .commentarea .panestack-title {
    margin-top: 0px;
    padding-top: 12px;
    padding-bottom: 8px;
}

.res .comment.collapsed a.expand:after {
    display: none;
}

/* Gear dropdown */
.gearIcon {
    background: url(%%spritesheet%%) -64px 0px !important;
    position: relative;
    top: 2px;
    transition: all 0.25s ease;
}

#RESMainGearOverlay {
    background-color: #516ae8;
    top: 0px !important;
    height: 26px !important;
    border-radius: 0px !important;
}

.RESDropdownList {
    border-color: #4258ca;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.24);
    margin-top: 4px;
    margin-right: 8px;
}

.RESDropdownList li {
    background-color: #516ae8;
    color: #fff;
    border-color: #4258ca;
    transition: all 0.15s ease;
}

.RESDropdownList li:first-letter {
    text-transform: capitalize;
}

.RESDropdownList a, .RESDropdownList a:visited {
    color: #fff;
}

.RESDropdownList li:hover, .RESDropdownList li a:hover {
    color: #fff;
    background-color: #667df0;
}

#RESSearchMenuItem {
    border: 1px solid #4258ca;
    border-radius: 1px;
    background-color: #667df0;
}

#RESSearchMenuItem:hover {
    background-color: #667df0;
}

.toggleButton {

}

.toggleButton .toggleOn, .toggleButton .toggleOff {
    text-transform: lowercase;
}

/* Toggle off  */
.moduleToggle:not(.enabled) .toggleOn, .toggleButton:not(.enabled) .toggleOn,
.moduleToggle.enabled .toggleOff, .toggleButton.enabled .toggleOff {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid #4258ca;
    transition: all 0.15s ease;
    border-radius: 2px;
}

/* Toggle on */
.moduleToggle.enabled .toggleOn, .toggleButton.enabled .toggleOn,
.moduleToggle:not(.enabled) .toggleOff, .toggleButton:not(.enabled) .toggleOff {
    background-color: #333;
    color: #516AE8;
    font-weight: bolder;
    border: 1px solid #fff;
    transition: all 0.15s ease;
    border-radius: 2px;
}

.markdownEditor .edit-btn:not(.btn-macro) {
    border: 0px solid !important;
    border-radius: 1px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
}

/* Shadows and cards */
body.listing-page > .content, body.other-discussions-page > .content, .comments-page .link, .commentarea > .sitetable > .comment, #images, .combined-search-page > .content, .sponsorshipbox,
.stylesheet-customize-container .pretty-form, .side .sidecontentbox, .account-activity-box, .side .titlebox, #previoussearch #moresearchinfo, #ad-frame, #ad_main, #ad_main_top,
.wiki-page .wiki-page-content, .linefield, .submit-page .roundfield, .login-form-side, #search {
    background: linear-gradient(rgba(23, 68, 102, 0.9), rgba(22, 37, 52, .9) 200px);
    padding: 16px;
    border: solid 1px rgba(66, 147, 213, 0.8);
    border-radius: 8px;
    box-shadow: 0px 0px 15px #000, inset 0px 0px 2px #4293d5;
}

/* .commentarea>.sitetable>.comment, #bottom-comments>.sitetable>.comment {padding-left: 10px} */

/* Ads */
#ad-frame, #ad_main, #ad_main_top {
    box-sizing: initial;
    padding: 10px;
}

.sponsorshipbox {
    max-width: 320px;
    padding: 0;
}

#ad_sponsorship {
    margin: 10px;
}

/* Experimental Toast Animation */
#mail.havemail:before {
    animation-name: toast;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;

    -webkit-animation-name: toast;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
}

#mail.havemail:hover:before {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes toast {
    0% {
        transform: translateY(76px);
        -webkit-transform: translateY(76px);
        opacity: 0;
    }
    20% {
        transform: translateY(76px);
        -webkit-transform: translateY(76px);
        opacity: 0;
    }
    25% {
        transform: translateY(-8px);
        -webkit-transform: translateY(-8px);
        opacity: 1;
    }
    27% {
        transform: translateY(00px);
        -webkit-transform: translateY(00px);
        opacity: 1;
    }
    92% {
        transform: translateY(00px);
        -webkit-transform: translateY(00px);
        opacity: 1;
    }
    97% {
        transform: translateY(16px);
        -webkit-transform: translateY(16px);
        opacity: 1;
    }
    100% {
        transform: translateY(76px);
        -webkit-transform: translateY(76px);
        opacity: 0;
    }
}

@-o-keyframes toast {
    0% {
        transform: translateY(76px);
        -webkit-transform: translateY(76px);
        opacity: 0;
    }
    20% {
        transform: translateY(76px);
        -webkit-transform: translateY(76px);
        opacity: 0;
    }
    25% {
        transform: translateY(-8px);
        -webkit-transform: translateY(-8px);
        opacity: 1;
    }
    27% {
        transform: translateY(00px);
        -webkit-transform: translateY(00px);
        opacity: 1;
    }
    92% {
        transform: translateY(00px);
        -webkit-transform: translateY(00px);
        opacity: 1;
    }
    97% {
        transform: translateY(16px);
        -webkit-transform: translateY(16px);
        opacity: 1;
    }
    100% {
        transform: translateY(76px);
        -webkit-transform: translateY(76px);
        opacity: 0;
    }
}

@-moz-keyframes toast {
    0% {
        transform: translateY(76px);
        -webkit-transform: translateY(76px);
        opacity: 0;
    }
    20% {
        transform: translateY(76px);
        -webkit-transform: translateY(76px);
        opacity: 0;
    }
    25% {
        transform: translateY(-8px);
        -webkit-transform: translateY(-8px);
        opacity: 1;
    }
    27% {
        transform: translateY(00px);
        -webkit-transform: translateY(00px);
        opacity: 1;
    }
    92% {
        transform: translateY(00px);
        -webkit-transform: translateY(00px);
        opacity: 1;
    }
    97% {
        transform: translateY(16px);
        -webkit-transform: translateY(16px);
        opacity: 1;
    }
    100% {
        transform: translateY(76px);
        -webkit-transform: translateY(76px);
        opacity: 0;
    }
}

@keyframes toast {
    0% {
        transform: translateY(76px);
        -webkit-transform: translateY(76px);
        opacity: 0;
    }
    20% {
        transform: translateY(76px);
        -webkit-transform: translateY(76px);
        opacity: 0;
    }
    25% {
        transform: translateY(-8px);
        -webkit-transform: translateY(-8px);
        opacity: 1;
    }
    27% {
        transform: translateY(00px);
        -webkit-transform: translateY(00px);
        opacity: 1;
    }
    92% {
        transform: translateY(00px);
        -webkit-transform: translateY(00px);
        opacity: 1;
    }
    97% {
        transform: translateY(16px);
        -webkit-transform: translateY(16px);
        opacity: 1;
    }
    100% {
        transform: translateY(76px);
        -webkit-transform: translateY(76px);
        opacity: 0;
    }
}

@-webkit-keyframes upvote {
    0% {
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    98% {
        opacity: 0;
    }
    100% {
        transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

@-moz-keyframes upvote {
    0% {
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    98% {
        opacity: 0;
    }
    100% {
        transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

@-o-keyframes upvote {
    0% {
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    98% {
        opacity: 0;
    }
    100% {
        transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

@keyframes upvote {
    0% {
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    98% {
        opacity: 0;
    }
    100% {
        transform: scale(1.5, 1.5);
        -webkit-transform: scale(1.5, 1.5);
        opacity: 0;
    }
}

/* Additional Dark Theme Customizations */
.titlebox form.toggle, .leavemoderator {
    background: transparent;
}

.new-comment .usertext-body {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}